body {
    text-align:center;
    font-family:Open sans-serif, sans-serif;
    background-color: #8a71C9;
    color: #ffffff;
    margin: 0px 0px 40px 0px;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    
}

h2 {
    font-size: 40px;
    color: #562056;
}

h3 {
    font-size: 22px;
    font-style: italic;
}

p {
    font-size: 20px;
    line-height: 1,5;
}

img {
    width: 100%;
}

.titulo1 {
    color: #04ff9f;
}

.titulo2 {
    color: #ff9e9e;
}

.titulo3 {
    color: #ffe36d;
}

section{
    width: 60%;
    margin: 0 auto;
   
}

section section {
    width: 100%;
}

ul {
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
}

a{       
    text-decoration: none;
    color: #99ffff;
    font-weight: 700;
}


.navegacao a{       /* a classe naveacao mais especificamente os a da lista */
  color: #fff;
  text-decoration: underline;  /* adicina um sublinhado */
  font-weight: normal;        
  text-align: center
 
}

.navegacao {                    /* altera somante o bloco da navegaçao (ou seja, sem alterar os elementos) */
  background-color: #ff6cb5;
  height: 40px;
}

.navegacao li{                /* altera os elementos da navegaçao(a lista) */
    display: inline-block;      /* deixa os elementos um do lado do outro*/
    line-height: 2.5;          /* altura da linha */
    margin: 0 89px;
}

button {
    background-color: #41f341;
    border: 1px solid transparent;
    padding: 2px 20px;
    border-radius: 3px;
}


